## TEST 1. INTRODUCTION TO STATISTICS. BASIC DATA MANIPULATION.

In [1]:
import pandas as pd

In [3]:
starwars = pd.read_csv('test_1.csv', sep=';')
starwars.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

### 1. Укажите, верно ли следующее утверждение: мужчины 18-29 лет, которые не являются фанатами серии, чаще всего проживают в Тихоокеанском регионе.

In [13]:
print(starwars[(starwars['fan'] == 'нет') & (starwars['age_group'] == '18-29')]['loc'].value_counts().head(1).index == 'Тихоокеанский')

[ True]

### 2. Какой регион проживания реже всего встречается в данных? Выберите один верный ответ.

In [35]:
print(starwars['loc'].value_counts())

Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: loc, dtype: int64

### 3. Сколько респондентов не ответили на вопрос, нравится ли им Йода? Выберите один верный ответ.

In [112]:
yoda_fans = starwars['yoda'].isna().value_counts().to_frame()
yoda_fans.loc[True, :].values

array([360], dtype=int64)

### 4. Скольким респондентам из Новой Англии очень нравится принцесса Лея Органа? Выберите один верный ответ.

In [33]:
print(starwars[(starwars['princess_leia_organa'] == 'очень нравится') & (starwars['loc'] == 'Новая Англия')].shape[0])

39