## TEST 2. DATA TYPES. CREATING NEW VARIABLES.

In [ ]:
import pandas as pd

In [5]:
starwars = pd.read_csv('test_2.csv', sep=';')
starwars.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

### 1. Укажите, верно ли следующее утверждение: все женщины старше 60 лет, входящие в категорию с наивысшим доходом и являющиеся фанатами серии фильмов, проживают в одном регионе.

In [7]:
print(len(starwars[(starwars['gender'] == 'Ж') & 
                   (starwars['age_group'] == '> 60') & (starwars['income'] == '150.000+') & 
                   (starwars['fan'] == 'да')]['loc'].unique()) == 1)

False

### 2. Какой регион проживания чаще всего встречается в данных? Выберите один верный ответ.

In [8]:
print(starwars['loc'].value_counts().index[0])

Северо-Восточный центральный

### 3. Сколько респондентов не назвали свой доход? Выберите один верный ответ.

In [9]:
print(starwars['income'].isna().sum())

328

### 4. Скольким респондентам одновременно очень нравятся Йода и принцесса Лея Органа? Выберите один верный ответ.

In [10]:
print(starwars[(starwars['princess_leia_organa'] == 'очень нравится') & 
               (starwars['yoda'] == 'очень нравится')].shape[0])

462

### 5. Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами? Введите ответ в виде целого числа.

In [11]:
print(starwars[(starwars['seen'] == 'нет') & (starwars['fan'] == 'да')].shape[0])

0

### 6. Сколько респондентов не ответили ни на один вопрос? Введите ответ в виде целого числа.

In [12]:
print(starwars[starwars.iloc[:, 1:].isna().sum(axis=1) == 8].shape[0])

0

### 7. Посмотрите на мужчин, проживающих в горном районе. В ответ запишите ID респондента, входящего в категорию с наивысшим доходом при заданных условиях.

In [13]:
print(starwars[(starwars['loc'] == 'Горный') & (starwars['income'] == '150.000+')]['respondentID'])

169    3291077381
340    3290740448
545    3290292697
671    3289963393
737    3289831274
Name: respondentID, dtype: int64

### 8. Укажите, верно ли следующее утверждение: фанатов серии фильмов в возрастной категории 45-60 меньше, чем не-фанатов в возрастной категории 18-29.

In [14]:
print((starwars[(starwars['fan'] == 'да') & 
                (starwars['age_group'] == '45-60')].shape[0]) < 
      (starwars[(starwars['fan'] == 'нет') & 
                (starwars['age_group'] == '18-29')].shape[0]))

False

### 9. Сколько процентов (от общего числа респондентов) являются фанатами серии фильмов, проживают в Новой Англии и имеют доход 0 - 24.999 долларов? В ответ запишите число (процент от 0 до 100), округлите до целого.

In [15]:
fans = starwars[(starwars['loc'] == 'Новая Англия') & 
                (starwars['income'] == '0 - 24.999') & 
                (starwars['fan'] == 'да')].shape[0]
respondents = starwars.shape[0]
print(round((fans*100)/respondents))

1